body{
    height:100%;
    width:100%;
}
.linear{
    height:200px;
    width:200px;
    margin:50px;
    background-image:linear-gradient(to right,red,orange);
    background-image:linear-gradient(45deg,red,orange);
    background-image:linear-gradient(25deg,green,pink);
    background-image:linear-gradient(to right,red,orange,green,pink);
}
.radial{
    height:200px;
    width:200px;
    margin:50px;   
    background-image:radial-gradient(red,yellow,green);
}
.french{
    height:300px;
    width:400px;
    margin:50px;
    background-image:linear-gradient(to right,rgb(0,37,81) 33%,rgb(255,255,255) 33%,rgb(255,255,255) 66%,rgb(199,18,37) 66%) ;
}
.indian{
    height:300px;
    width:400px;
    margin:50px;
    background-image:linear-gradient(to top,rgb(19, 136, 8) 33%,rgb(255,255,255) 33%,rgb(255,255,255) 66%, rgb(255, 153, 51) 66%) ;
}
.Russia{
    height:300px;
    width:400px;
    margin:50px;
    background-image:linear-gradient(to top,rgb(228, 24, 28) 33%,rgb(28, 53, 120) 33%, rgb(255,255,255) 66%, rgb(255,255,255) 66%);
}
.german{
    height:300px;
    width:400px;
    margin:50px;
    background-image:linear-gradient(rgb(0, 0, 0) 33%,rgb(221, 0, 0) 33%,rgb(221, 0, 0) 66%,rgb(255, 204, 0) 66%); 
}