body{
    background-color:cornflowerblue;
}
img{
    width:300px;
    height:300px;
    float:right;
    clear:both;
    margin:2px;
}
.para{
    background-color:gray;
    text-align:justify;
    font-style: italic;
}
