body{
    background-image: url('./sunrise.jpg');
}
.rgb{
    background-color:rgb(0,0,0);
    color:rgb(255,255,255);
    width:200px;
    height:200px;
    line-height:1.5;
    text-align:center; 
    padding:10px;   
    font-weight:bold;
    border:2px solid rgba(255,80,255,0.3);
}
.rgb2{
    margin:5px;
    background-color:rgb(80,100,9);
    /* letter-spacing:8px; */
    /* word-spacing:5px; */
}
.rgba{
    background-color:rgba(255,80,255,0.1);
}
.hex{
    margin:5px;
    background-color:#78ab21;
}
h1:first-letter{
    color:red;
    text-transform:uppercase; 
}
p:first-line{
    color:yellow; 
}